<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdg.refactoring.kdgservice.travel.mapper.VAreaDicMapper">

  <resultMap type="com.kdg.refactoring.kdgservice.travel.entity.VAreaDic" id="VAreaDicMap">
    <result property="id" column="id" jdbcType="INTEGER"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="areano" column="areaNo" jdbcType="VARCHAR"/>
    <result property="parent" column="parent" jdbcType="INTEGER"/>
    <result property="isactivated" column="isActivated" jdbcType="INTEGER"/>
    <result property="istradingarea" column="isTradingArea" jdbcType="INTEGER"/>
    <result property="ishot" column="isHot" jdbcType="INTEGER"/>
    <result property="level" column="level" jdbcType="INTEGER"/>
    <result property="ischina" column="isChina" jdbcType="INTEGER"/>
    <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
    <result property="creationdate" column="creationDate" jdbcType="TIMESTAMP"/>
    <result property="createdby" column="createdBy" jdbcType="INTEGER"/>
    <result property="modifydate" column="modifyDate" jdbcType="TIMESTAMP"/>
    <result property="modifiedby" column="modifiedBy" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="base_column">
    id
    , name, areaNo, parent, isActivated, isTradingArea, isHot, level, isChina, pinyin, creationDate, createdBy, modifyDate, modifiedBy    </sql>

  <!--用于粘贴复制-->
  <select id="test" resultMap="VAreaDicMap">
    select
    id, name, areaNo, parent, isActivated, isTradingArea, isHot, level, isChina, pinyin,
    creationDate, createdBy, modifyDate, modifiedBy
    from voyage_guide.v_area_dic
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="name != null and name != ''">
        and name = #{name}
      </if>
      <if test="areano != null and areano != ''">
        and areaNo = #{areano}
      </if>
      <if test="parent != null">
        and parent = #{parent}
      </if>
      <if test="isactivated != null">
        and isActivated = #{isactivated}
      </if>
      <if test="istradingarea != null">
        and isTradingArea = #{istradingarea}
      </if>
      <if test="ishot != null">
        and isHot = #{ishot}
      </if>
      <if test="level != null">
        and level = #{level}
      </if>
      <if test="ischina != null">
        and isChina = #{ischina}
      </if>
      <if test="pinyin != null and pinyin != ''">
        and pinyin = #{pinyin}
      </if>
      <if test="creationdate != null">
        and creationDate = #{creationdate}
      </if>
      <if test="createdby != null">
        and createdBy = #{createdby}
      </if>
      <if test="modifydate != null">
        and modifyDate = #{modifydate}
      </if>
      <if test="modifiedby != null">
        and modifiedBy = #{modifiedby}
      </if>
    </where>
  </select>


</mapper>

